name: Tests
on:
  push:
    branches:
     - '*'
    paths-ignore:
     - 'doc/**'
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        tarantool:
          - "1.10"
          - "2.2"
          - "2.3"
          - "2.4"
          - "2.5"
          - "2.6"
          - "2.7"
          - "2.8"
        cartridge: [ "", "1.2.0", "2.1.2", "2.4.0", "2.5.1", "2.6.0", "2.7.5" ]
        include:
          - tarantool: "2.x-latest"
            cartridge: "2.7.5"
          - tarantool: "2.x-latest"
            cartridge: ""
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: tarantool/setup-tarantool@v1
        if: matrix.tarantool != '2.x-latest'
        with:
          tarantool-version: ${{ matrix.tarantool }}

      - name: Install latest pre-release Tarantool 2.x
        if: matrix.tarantool == '2.x-latest'
        run: |
          curl -L https://tarantool.io/pre-release/2/installer.sh | bash
          sudo apt-get -y install tarantool

      - name: lint
        run: make lint
        env:
          CARTRIDGE_VERSION: ${{ matrix.cartridge }}

      - name: test
        run: make test_with_coverage_report

  packpack:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2

      - name: packpack
        run: |
          git clone https://github.com/packpack/packpack.git packpack
          OS=el DIST=7 packpack/packpack
          ls -l build/

  promtool:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2

      - uses: tarantool/setup-tarantool@v1
        with:
          tarantool-version: '2.4'

      - uses: actions/setup-go@v2
        with:
          go-version: '1.15'

      - name: promtool test
        run: |
          GO111MODULE=on go get github.com/prometheus/prometheus/cmd/promtool@a6be548dbc17780d562a39c0e4bd0bd4c00ad6e2
          make test_promtool
