name: Tests
on: [push]
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - "tarantool/tarantool:1.10.8"
          - "tarantool/tarantool:2.2"
          - "tarantool/tarantool:2.3"
          - "tarantool/tarantool:2.4"
          - "tarantool/tarantool:2.5"
          - "tarantool/tarantool:2.6"
          - "tarantool/tarantool:2.7.0"
        cartridge: [ '', "1.2.0", "2.1.2" ]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.os }}
      env:
        CARTRIDGE_VERSION: ${{ matrix.cartridge }}
    steps:
      - uses: actions/checkout@v2

      - name: deps
        run: apk add --update alpine-sdk make curl git cmake gcc

      - name: lint
        run: make lint

      - name: test
        run: make test_with_coverage_report

  packpack:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2

      - name: packpack
        run: |
          git clone https://github.com/packpack/packpack.git packpack
          OS=el DIST=7 packpack/packpack
          ls -l build/

  promtool:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2

      - name: install Taranool
        run: |
          curl -L https://tarantool.io/aYJZbH/release/2.3/installer.sh | bash

      - uses: actions/setup-go@v2
        with:
          go-version: '1.13'

      - name: promtool test
        run: |
          go get github.com/prometheus/prometheus/cmd/promtool
          make test_promtool
