name: Tests
on:
  push:
    branches:
     - '**'
    paths-ignore:
     - 'doc/**'
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # 2.11
          - tarantool: "2.11"
            cartridge: "2.7.9"
          - tarantool: "2.11"
            cartridge: "2.8.6"
          - tarantool: "2.11"
            cartridge: "2.9.0"
          - tarantool: "2.11"
            cartridge: "2.10.0"
          - tarantool: "2.11"
            cartridge: "2.11.0"
          - tarantool: "2.11"
            cartridge: "2.12.4"
          - tarantool: "2.11"
            cartridge: "2.13.0"
          - tarantool: "2.11"
            cartridge: "2.16.3"
          - tarantool: "2.11"
            cartridge: ""
          # 3.x
          - tarantool: "3.0"
            cartridge: ""
          - tarantool: "3.1"
            cartridge: ""
          - tarantool: "3.2"
            cartridge: ""
          - tarantool: "3.3"
            cartridge: ""
          - tarantool: "3.4.1"
            cartridge: ""
          - tarantool: "3.5"
            cartridge: ""
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: tarantool/setup-tarantool@v3
        with:
          tarantool-version: ${{ matrix.tarantool }}

      # Stop Mono server. This server starts and listens to 8084 port that is
      # used for tests.
      - name: 'Stop Mono server'
        run: sudo kill -9 $(sudo lsof -t -i tcp:8084) || true

      - name: Setup tt
        run: |
          curl -L https://tarantool.io/release/2/installer.sh | sudo bash
          sudo apt install -y tt
          tt version

      - name: lint
        run: make lint
        env:
          CARTRIDGE_VERSION: ${{ matrix.cartridge }}

      - name: test
        run: make test_with_coverage_report

  packpack:
    runs-on: ubuntu-24.04
    needs: test
    steps:
      - uses: actions/checkout@v4

      - name: packpack
        run: |
          git clone https://github.com/packpack/packpack.git packpack
          OS=el DIST=8 packpack/packpack
          ls -l build/

  promtool:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        tarantool:
          - "2.11"
        cartridge:
          - "2.10.0"
        include:
          - tarantool: "3.1"
            cartridge: ""
    needs: test
    steps:
      - uses: actions/checkout@v4

      - uses: tarantool/setup-tarantool@v3
        with:
          tarantool-version: ${{ matrix.tarantool }}

      - name: Setup tt
        run: |
          curl -L https://tarantool.io/release/2/installer.sh | sudo bash
          sudo apt install -y tt
          tt version

      - uses: actions/setup-go@v5
        with:
          go-version: '1.15'

      - name: promtool test
        env:
          CARTRIDGE_VERSION: ${{ matrix.cartridge }}
        run: |
          GO111MODULE=on go get github.com/prometheus/prometheus/cmd/promtool@a6be548dbc17780d562a39c0e4bd0bd4c00ad6e2
          make test_promtool
