name: Tests
on:
  push:
    branches:
     - '*'
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        tarantool:
          - "1.10.10"
          - "2.2"
          - "2.3"
          - "2.4"
          - "2.5"
          - "2.6"
          - "2.7.2"
        cartridge: [ "", "1.2.0", "2.1.2", "2.4.0", "2.5.1", "2.6.0", "2.7.1" ]
    runs-on: ubuntu-latest
    container:
      image: tarantool/tarantool:${{ matrix.tarantool }}
      env:
        CARTRIDGE_VERSION: ${{ matrix.cartridge }}
    steps:
      - uses: actions/checkout@v2

      - name: deps
        run: apk add --update alpine-sdk make curl git cmake gcc

      - name: lint
        run: make lint

      - name: test
        run: make test_with_coverage_report

  packpack:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2

      - name: packpack
        run: |
          git clone https://github.com/packpack/packpack.git packpack
          OS=el DIST=7 packpack/packpack
          ls -l build/

  promtool:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2

      - uses: tarantool/setup-tarantool@v1
        with:
          tarantool-version: '2.4'

      - uses: actions/setup-go@v2
        with:
          go-version: '1.15'

      - name: promtool test
        run: |
          GO111MODULE=on go get github.com/prometheus/prometheus/cmd/promtool@a6be548dbc17780d562a39c0e4bd0bd4c00ad6e2
          make test_promtool
